*.pyc
*.vcd
*.fst
*.gtkw
*.sw*
a.out
tags
*.jou
*.pb
*.bat
*.log
*.rpt
*.rpx
*.xml
*.wdf
*.txt
*.sh
*.rst
*.tcl
*.vdi
*.dcp
*.js
*SAVED*
*.*~
cwhusky.cache/
cwhusky.ip_user_files/
cwhusky.runs/
cwhusky.hw/
*.out
backup/
